*.pyc
*.pyo
*.db
.DS_Store
.coverage
local_settings.py
**/migrations
/static/*
!/static/css
!/static/js
!/static/fonts
!/static/img
!/static/files
!/static/videos
!/static/media/press
/static/img/utils
