{% extends "base.html" %}
{% load i18n static pages_tags mezzanine_tags blog_tags keyword_tags %}

{% block meta_keywords %}{% endblock %}
{% block meta_description %}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static "css/section.css" %}">
<link rel="stylesheet" href="{% static "css/test.css" %}">
<style type="text/css">
    .team_caption{
        background-color: {{ customColor }};
    }
</style>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
    $(document).ready(function(){
        $('#illustration_container').css('max-height',$(window).height());
        if($('#illustration').width()>$(window).width()){
            $('#illustration').css('right',($('#illustration').width()-$(window).width())/2);
        }else{
            $('#illustration').css('right',0);
        }
        if($('#illustration').height()>$(window).height()){
            $('#illustration').css('bottom',($('#illustration').height()-$(window).height())/2);
        }else{
            $('#illustration').css('bottom',0);
        }
        if($(window).width()>990){
            $('.middlize').each(function(){
                referent = $(this).parent().parent();
                refH = referent.height();
                // console.log(target.length);
                // console.log(refH);
                x = (refH - $(this).height())/2;
                $(this).css('margin-top',x);
            });
        }else{
            $('.middlize').css('margin-top',0);
        }
        Team();
    });
    $(window).resize(function(){
        $('#illustration_container').css('max-height',$(window).height());
        if($('#illustration').width()>$(window).width()){
            $('#illustration').css('right',($('#illustration').width()-$(window).width())/2);
        }else{
            $('#illustration').css('right',0);
        }
        if($('#illustration').height()>$(window).height()){
            $('#illustration').css('bottom',($('#illustration').height()-$(window).height())/2);
        }else{
            $('#illustration').css('bottom',0);
        }
        if($(window).width()>990){
            $('.middlize').each(function(){
                referent = $(this).parent().parent();
                refH = referent.height();
                // console.log(target.length);
                // console.log(refH);
                x = (refH - $(this).height())/2;
                $(this).css('margin-top',x);
            });
        }else{
            $('.middlize').css('margin-top',0);
        }
        Team();
    });

    function Team(){
        if($(window).width()>991){
            refD = $(window).width()/4+5.5;
        }else if($(window).width()>768){
            refD = $(window).width()/3+5.5;
        }else{
            refD = $(window).width()/2+5.5;
        }
        $('.team_size_token').width(refD).height(refD);
        $('.team_caption').each(function(){
            target = $(this).children('.team_caption_layer');
            target.css('padding-top',(refD-target.height())/2);
            console.log(target.height());
        });
    }
</script>
{% endblock %}

{% block meta_title %}{% endblock %}
{% block title %}{% endblock %}

{% block main %}

<div id='header'>
    <div id='illustration_container'>
        <img id='illustration' src='{{ MEDIA_URL }}{% thumbnail Target.illustration 1600 0 %}' alt='illustration section' />
        {# <img id='illustration' src='/static/media/{{ Target.illustration }}' alt='illustration section' /> #}
        <div id='illustration_overlay'>
            <h1 id='' class='text-center'>{{ Target.title }}</h1>
        </div>
    </div>
    <div class='container' style='width:100%; padding-right:0; padding-left:0;' >
        <div id='caption' class='row' style='margin:20px; background-color:{{ Target.caption_color }}'>
            <div class='col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12 col-xs-offset-0 text-justify' style='color:{{ Target.text_color }}'>
                <h3 class='text-center'>{{ Target.sub_title|upper }}</h3>
                {{ Target.caption|richtext_filters|safe }}
            </div>
        </div>
    </div>
</div>


<div id='main'>

    <div id='network' class='hide'>
        {% for element in network_all %}
            {{ element.title }}
        {% endfor %}
    </div>

    <div id='team'>
        <div>
        {% for element in team_all %}
            <div class='team_box team_size_token'>
                <img src='{{ MEDIA_URL }}{% thumbnail element.illustration 400 400 %}' alt='photo {{ element.prenom }} {{ element.title }}' />
                <div class='team_size_token team_caption text-center'>
                    <div class='team_caption_layer'>
                        <div class='team_line'>{{ element.prenom }} {{ element.nom }}</div>
                        <div class='team_line'>{{ element.fonction }}</div>
                        <div class='team_line'>
                            <a href='mailto:{{ element.email }}'>{{ element.email }}</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>

</div>

{% endblock %}
