{% extends "base.html" %}
{% load i18n static pages_tags mezzanine_tags blog_tags keyword_tags %}

{# {% block meta_description %} #}
    {# {% if LANGUAGE_CODE == 'fr' %} #}
            {# Netexplo Observatory étudie les impacts des nouveaux usages numériques sur les citoyens, les clients et les collaborateurs des entreprises. Avec une vocation claire : faciliter la transformation digitale. #}
    {# {% else %} #}
            {# Netexplo Observatory étudie les impacts des nouveaux usages numériques sur les citoyens, les clients et les collaborateurs des entreprises. Avec une vocation claire : faciliter la transformation digitale. #}
    {# {% endif %} #}
{# {% endblock %} #}
{% block meta_title %}{{ page.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static "css/index.css" %}">
<style type="text/css">
    /*#carousel_overlay h1{*/
        /*color: #FFFFFF;*/
    /*}*/
    #main .slot{
        background-color: {{ Home.color_caption }};
        color: {{ Home.color_caption_text }}
    }
    #cat_news{
        font-family: 'intelolight';
        position: absolute;
        z-index: 99;
        bottom: 20px;
        left: 20px;
        padding: 10px 15px;
        background-color: {{ customColor }};
    }#cat_news a{
        color: #FFFFFF;
        text-shadow: 1px 1px rgba(0,0,0,.3);
    }
</style>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
    $(document).ready(function(){
        $('#carousel').css('max-height',$(window).height());
        CenterBaseline();
        if($(window).width()>991 && $('#main.absolute').length){
            $('footer').css('top',$(window).height()+$('#main').outerHeight());
        }
        $('.carousel').carousel({
            interval: {{ Home.slider_timer }}, 
            pause: null, 
            wrap: true, 
            keyboard: true, 
        })
    });
    $(window).load(function(){
        $('#carousel').css('max-height',$(window).height());
        CenterBaseline();
        if($(window).width()>991 && $('#main.absolute').length){
            $('footer').css('top',$(window).height()+$('#main').outerHeight());
        }
        $('.carousel').carousel({
            interval: {{ Home.slider_timer }}, 
            pause: null, 
            wrap: true, 
            keyboard: true, 
        })
    });
    $(window).resize(function(){
        CenterBaseline();
        $('#carousel').css('max-height',$(window).height());
        if($(window).width()>991 && $('#main.absolute').length){
            $('footer').css('top',$(window).height()+$('#main').outerHeight());
        }
    });

    function CenterBaseline(){
        // setTimeout(function(){
            if($('#carousel_overlay h1').length){
                // console.log("overlay height "+$('#carousel_overlay').height());
                // if($('#carousel_overlay').height() > $('#carousel_overlay h1').height()){
                    $('#carousel_overlay h1').css('margin-top',($(window).height()-$('#carousel_overlay h1').height())/2);
                // }
            }
        // },100);
    }
</script>
{% endblock %}

{# {% block breadcrumb_menu %} #}
{# <li class="active">{% trans "Home" %}</li> #}
{# {% endblock %} #}

{% block main %}

{% if Home.video %}
    <div id='video_layer'>
        {% if Home.video %}
        <video id="bgvid" playsinline autoplay muted loop poster="{{ MEDIA_URL }}{{ Home.video.illustration_alt }}" id="illustration video alt">
            {# <source src="polina.webm" type="video/webm"> #}
            <source src="{{ MEDIA_URL }}{{ Home.video.file }}" type="video/mp4">
        </video>
        {% endif %}
    </div>
{% else %} 
    <div id='carousel_container'>
    <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            {% for element in Home.captions %}
                <div class="item {% if forloop.counter0 == 0 %}active{% endif %}">
                    <a {% if not element.lien %}href='javascript:void(0)'{% else %} href='{{ element.lien }}'{% endif %}
                        {% if element.external %}target='blank'{% endif %} >
                        <img src='{{ MEDIA_URL }}{% thumbnail element.image 1600 0 %}' alt='illustration {{ element }}'>
                    </a>
                </div>
            {% endfor %}
        </div>
        <div id='carousel_overlay'>
            {% if Home.baseline %}
                <h1 class='text-center'>{{ Home.baseline }}</h1>
            {% endif %}
        </div>
        <div id='cat_news'><a href='/presse#blogSpace'>NEWS</a></div>
    </div>
    </div>
{% endif %}

<div id='main'>
    <div class='slot container'>
        <div class='row'>
            <div class='col-md-10 col-md-offset-1 col-xs-12 col-xs-offset-0 text-justify'>
                {% if Home.sub_title %}
                <h3 class='text-center'>
                    <i class='fa fa-terminal fa-lg' style='color:{{ customColor }};'></i>
                    {{ Home.sub_title|upper }}
                </h3>
                {% endif %}
                {{ Home.caption|richtext_filters|safe }}
            </div>
        </div>
    </div>
</div>


{% endblock %}
