{% extends "base.html" %}
{% load i18n static pages_tags mezzanine_tags blog_tags keyword_tags %}

{% block meta_keywords %}{% endblock %}
{% block meta_description %}{% endblock %}

{% block extra_css %}
{# <link rel="stylesheet" href="{% static "css/test.css" %}"> #}
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
</script>
{% endblock %}

{% block meta_title %}{% endblock %}
{% block title %}{% endblock %}

{% block main %}

<div id='header'>
</div>
<div id='main'>
</div>

{% endblock %}
