{% extends "base.html" %}
{% load i18n static pages_tags mezzanine_tags blog_tags keyword_tags %}

{% block meta_title %}{{ page.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block extra_css %}
{# <link rel="stylesheet" href="{% static "css/section.css" %}"> #}
<link rel="stylesheet" href="{% static "css/presse.css" %}">
<style type="text/css">
    #cat_contact{
        {% if LANGUAGE_CODE == 'fr' %}
        left: calc(50% - 92px);
        {% else %}
        left: calc(50% - 67px);
        {% endif %}
        border: none;
        border-radius: 0;
        background-color: {{ customColor }};
    }
    #mediaAssets h5, #mediaAssets h3{
        color: {{ PressFiles_container.color }};
        border-color: {{ PressFiles_container.color }};
    }
    #cat_video{
        border: none;
        background-color: {{ customColor }};
        color: #FFFFFF;
    }
    .close, .close:hover{
        z-index: 999;
        position: absolute;
        top: 0;
        right: -2px;
        opacity: 1;
        text-shadow: none;
    }
    .modal-content{
        border: 0;
    }
    .modal-body{
        padding: 0;
        line-height: 0;
    }
    @media screen and (min-width: 991px){
        .modal-dialog{
            width: 80%;
        }
    }
</style>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
    $(document).ready(function(){
        $('#illustration_container').css('max-height',$(window).height());
        if($('#illustration').width()>$(window).width()){
            console.log('move to the right');
            $('#illustration').css('right',($('#illustration').width()-$(window).width())/2);
        }else{
            $('#illustration').css('right',0);
        }
        if($('#illustration').height()>$(window).height()){
            $('#illustration').css('bottom',($('#illustration').height()-$(window).height())/2);
        }else{
            $('#illustration').css('bottom',0);
        }
        if($(window).width()>990){
            $('.middlize').each(function(){
                referent = $(this).parent();
                refH = referent.height();
                // console.log(refH);
                // console.log(refH);
                x = (refH - $(this).height())/2;
                console.log($(this).height());
                console.log(x);
                $(this).css('margin-top',x);
            });
        }else{
            $('.middlize').css('margin-top',0);
        }
        MAH = $('.mediaAsset_box').width()*.75;
        $('.mediaAsset_box').height(MAH);
        $('.mediaAsset_box').each(function(){
            target = $(this).children('a');
            target.css('margin-top',(MAH-target.height())/2);
        });

        $('.open_video').click(function(){
            $("video").get(0).play();
        });
        $('#close_video').click(function(){
            $("video").get(0).pause();
        });
        $('#modal_forum_2017').click(function(){
            $("video").get(0).pause();
        });
        $('#modal_forum_2017 video').click(function(){
            $('#modal_forum_2017').modal('toggle');
        });
    });
    $(window).resize(function(){
        $('#illustration_container').css('max-height',$(window).height());
        if($('#illustration').width()>$(window).width()){
            $('#illustration').css('right',($('#illustration').width()-$(window).width())/2);
        }else{
            $('#illustration').css('right',0);
        }
        if($('#illustration').height()>$(window).height()){
            $('#illustration').css('bottom',($('#illustration').height()-$(window).height())/2);
        }else{
            $('#illustration').css('bottom',0);
        }
        if($(window).width()>990){
            $('.middlize').each(function(){
                referent = $(this).parent();
                refH = referent.height();
                // console.log(target.length);
                // console.log(refH);
                x = (refH - $(this).height())/2;
                $(this).css('margin-top',x);
            });
        }else{
            $('.middlize').css('margin-top',0);
        }
        MAH = $('.mediaAsset_box').width()*.75;
        $('.mediaAsset_box').height(MAH);
        $('.mediaAsset_box').each(function(){
            target = $(this).children('a');
            target.css('margin-top',(MAH-target.height())/2);
        });
    });
</script>
{% endblock %}

{% block main %}

<div id='header' class='container'>
    <div id='illustration_container'>
        <img id='illustration' src='{{ MEDIA_URL }}{% thumbnail Target.illustration 1600 0 %}' alt='illustration section' />
        <div id='illustration_overlay'>
            <h1 id='' class='text-center'>{{ Target.title }}</h1>
            <btn id='cat_contact' class='btn btn-lg btn-default'>
                <a href='mailto:hello@netexplo.com'>
                {% if LANGUAGE_CODE == 'fr' %}
                    Nous contacter
                {% else %}
                    Contact us
                {% endif %}
                </a>
            </btn>
        </div>
    </div>

    <div class='slot' style='margin-bottom:0; background-color:{{ Target.caption_color }}'>
        <div id='caption' class='row'>
            <div class='middlize col-md-4 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 text-center'>
                <img src='{% static "img/utils/pressbook.png" %}' />
            </div>
            <div class='middlize col-md-5 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12 text-justify' style='color:{{ Target.text_color }}'>
                <h3 class='text-center'>
                    Presskit
                </h3>
                {% if pressKit_fr %}
                <h5 class='text-center'>
                    Presskit [FR]
                    {# <a href='{% static "files/presskit_FR.pdf" %}'target='blank'> #}
                    <a href='{{ pressKit_fr.url }}' target='blank' download>
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x" style='color:{{customColor}};'></i>
                            <i class='fa fa-cloud-download fa-stack-1x fa-inverse'></i>
                        </span>
                    </a>
                </h5>
                {% endif %}
                {% if pressKit_en %}
                <h5 class='text-center'>
                    Presskit [EN]
                    {# <a href='{% static "files/presskit_EN.pdf" %}' target='blank'> #}
                    <a href='{{ pressKit_en.url }}' target='blank' download>
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x" style='color:{{customColor}};'></i>
                            <i class='fa fa-cloud-download fa-stack-1x fa-inverse'></i>
                        </span>
                    </a>
                </h5>
                {% endif %}
                {% if Target.sub_title %}
                        {# {{ Target.sub_title|upper }} #}
                {% endif %}
                {# {{ Target.caption|richtext_filters|safe }} #}
                {# {% if LANGUAGE_CODE == 'fr' %} #}
                    {# Téléchargez le dossier #}
                {# {% else %} #}
                    {# Download the folder #}
                {# {% endif %} #}
            </div>
        </div>
    </div>
    <div id='ANCHOR_NEWS'></div>
</div>


<div id='main' class='container'>

    {% if blogPosts %}
    <div id='blogSpace'  class='slot'>
        <div class='row'>
            <div class='col-md-10 col-md-offset-1 col-sm-12 col-xs-12 col-xs-offset-0'>
                <h3 class='text-center' style='color:{{ customColor }};'>
                    News
                </h3>
                <!-- PROMO FORUM 2017 -->
                    <div class='row news_box'>
                        <div class='col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-12 col-xs-offset-0'>
                            <a href='javascript:void(0)' class='open_video' data-toggle="modal" data-target="#modal_forum_2017">
                                <img src='{% static "img/caption_forum_2017.jpg" %}' alt='illustration news' />
                            </a>
                        </div>
                        <div class='col-md-5 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-12 col-xs-offset-0'>
                            <h6 class='text-center'>
                                {# <i class='fa fa-genderless'></i> #}
                                Teaser Forum 2017
                            </h6>
                            <div class='text-justify'>
                                {{ element.description_from_content|safe }}
                            </div>
                            <div class='text-center'>
                                <button id='cat_video' type="button" class="open_video btn btn-default btn-lg" data-toggle="modal" data-target="#modal_forum_2017" style='margin-top:10px;'>
                                    <i class='fa fa-lg fa-video-camera'></i>
                                    {% if LANGUAGE_CODE == 'fr' %}
                                        Voir la vidéo
                                    {% else %}
                                        Watch the video
                                    {% endif %}
                                </button>
                            </div>
<div id='modal_forum_2017' class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      {# <div class="modal-header hide"> #}
        {# <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> #}
        {# <h4 class="modal-title">Modal title</h4> #}
      {# </div> #}
      <div class="modal-body">
        <button id='close_video' class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class='fa fa-lg fa-window-close' style='color:{{ customColor }};'></i></span></button>
        <video width="100%" height="auto" playsinline>
            <source src='{% static "videos/movie_forum.mp4" %}' type="video/mp4">
            <source src="movie.ogg" type="video/ogg">
            Your browser does not support the video tag.
        </video>
      </div>
      <div class="modal-footer hide">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
                        </div>
                    </div>
                <!-- END PROMO FORUM 2017 -->
                {% for element in blogPosts %}
                    <div class='row news_box'>
                        <div class='col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-12 col-xs-offset-0'>
                            <a href='{{ element.get_absolute_url }}'>
                                <img src='{{ MEDIA_URL }}{% thumbnail element.featured_image 600 400 %}' alt='illustration news' />
                            </a>
                        </div>
                        <div class='col-md-5 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-12 col-xs-offset-0'>
                            <h6 class='text-center'>
                                {# <i class='fa fa-genderless'></i> #}
                                {{ element.title }}
                            </h6>
                            <div class='text-justify'>
                                {{ element.description_from_content|safe }}
                            </div>
                            <div class='text-center'>
                                <a style='margin-top:10px; color: {{ customColor }};' href='{{ element.get_absolute_url }}'>
                                    <i class='fa fa-lg fa-ellipsis-h'></i>
                                    {% if LANGUAGE_CODE == 'fr' %}
                                        Voir plus 
                                    {% else %}
                                        See more
                                    {% endif %}
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}

    <div id='mediaAssets' class='slot' style='background-color:{{ PressFiles_container.caption_color }};'>
        <div class='row'>
            <div class='col-md-10 col-md-offset-1 col-sm-12 col-xs-12 col-xs-offset-0'>
                <h3 class='text-center'>
                    Media assets
                </h3>
                <div id='logos'>
                    <h5>Logos</h5>
                    <div class='row'>
                    {% if M_A_logo %}
                    {% for element in M_A_logo %}
                        <div class='col-md-4 col-sm-4 col-xs-6'>
                            <div class='mediaAsset_box'>
                                <a href='{{ element.file.url }}' target='blank'>
                                {% if element.image_file %}
                                    <img src='{{ MEDIA_URL }}{% thumbnail element.image_file 400 300 %}' />
                                {% else %}
                                    {% include "netexplo.svg" %}
                                {% endif %}
                                </a>
                            </div>
                            <div class='mediaAsset_caption text-center'>
                                {{ element.title }}
                                <a style='position:relative; left:5px; color:{{ PressFiles_container.color }};' href='{{ element.file.url }}' target='blank'>
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class='fa fa-cloud-download fa-stack-1x fa-inverse'></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                    {% else %}
                        <div class='text-muted text-center'>
                            {% if LANGUAGE_CODE == 'fr' %}Aucun logo disponible{% else %}No logo available{% endif %}
                        </div>
                    {% endif %}
                    </div>
                </div>
                <div id='photos'>
                    <h5>Photos</h5>
                    <div class='row'>
                    {% if M_A_photo %}
                    {% for element in M_A_photo %}
                        <div class='col-md-4 col-sm-4 col-xs-6'>
                            <div class='mediaAsset_box'>
                                <a href='{{ element.file.url }}' target='blank'>
                                {% if element.image_file %}
                                    <img src='{{ MEDIA_URL }}{% thumbnail element.image_file 400 300 %}' />
                                {% else %}
                                    {% include "netexplo.svg" %}
                                {% endif %}
                                </a>
                            </div>
                            <div class='mediaAsset_caption text-center'>
                                {{ element.title }}
                                <a style='position:relative; left:5px; color:{{ PressFiles_container.color }};' href='{{ element.file.url }}' target='blank'>
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class='fa fa-cloud-download fa-stack-1x fa-inverse'></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                    {% else %}
                        <div class='text-muted text-center'>
                            {% if LANGUAGE_CODE == 'fr' %}Aucune photo disponible{% else %}No photos available{% endif %}
                        </div>
                    {% endif %}
                    </div>
                </div>
                <div id='videos'>
                    <h5>
                        {% if LANGUAGE_CODE == 'fr' %}Vidéos{% else %}Videos{% endif %}
                    </h5>
                    <div class='row'>
                    {% if M_A_video %}
                    {% for element in M_A_video %}
                        <div class='col-md-4 col-sm-4 col-xs-6'>
                            <div class='mediaAsset_box'>
                                <a href='{{ element.file.url }}' target='blank'>
                                {% if element.image_file %}
                                    <img src='{{ MEDIA_URL }}{% thumbnail element.image_file 400 300 %}' />
                                {% else %}
                                    {% include "netexplo.svg" %}
                                {% endif %}
                                </a>
                            </div>
                            <div class='mediaAsset_caption text-center'>
                                {{ element.title }}
                                <a style='position:relative; left:5px; color:{{ PressFiles_container.color }};' href='{{ element.file.url }}' target='blank'>
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class='fa fa-cloud-download fa-stack-1x fa-inverse'></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                    {% else %}
                        <div class='text-muted text-center'>
                            {% if LANGUAGE_CODE == 'fr' %}Aucune vidéo disponible{% else %}No videos available{% endif %}
                        </div>
                    {% endif %}
                    </div>
                </div>
                <!-- FORUM ASSETS -->
                    <div id='forum'>
                    <h5>Forum</h5>
                    <div class='row'>
                    {% if M_A_forum %}
                    {% for element in M_A_forum %}
                        <div class='col-md-4 col-sm-4 col-xs-6'>
                            <div class='mediaAsset_box'>
                                <a href='{{ element.file.url }}' target='blank'>
                                {% if element.image_file %}
                                    <img src='{{ MEDIA_URL }}{% thumbnail element.image_file 400 300 %}' />
                                {% else %}
                                    {% include "netexplo.svg" %}
                                {% endif %}
                                </a>
                            </div>
                            <div class='mediaAsset_caption text-center'>
                                {{ element.title }}
                                <a style='position:relative; left:5px; color:{{ PressFiles_container.color }};' href='{{ element.file.url }}' target='blank'>
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class='fa fa-cloud-download fa-stack-1x fa-inverse'></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                    {% else %}
                        <div class='text-muted text-center'>
                            {% if LANGUAGE_CODE == 'fr' %}Aucun élément disponible{% else %}No element available{% endif %}
                        </div>
                    {% endif %}
                    </div>
                </div>
                <!-- ./FORUM ASSETS -->
            </div>
        </div>
    </div>
</div>

{% endblock %}
