{% extends "base.html" %}
{% load i18n static pages_tags mezzanine_tags blog_tags keyword_tags %}

{% block meta_title %}{{ page.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static "css/section.css" %}">
<style type="text/css">
    .dot i{
        color: {{ customColor }};
    }
</style>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
    $(document).ready(function(){
        $('#illustration_container').css('max-height',$(window).height());
        if($('#illustration').width()>$(window).width()){
            $('#illustration').css('right',($('#illustration').width()-$(window).width())/2);
        }else{
            $('#illustration').css('right',0);
        }
        if($('#illustration').height()>$(window).height()){
            $('#illustration').css('bottom',($('#illustration').height()-$(window).height())/2);
        }else{
            $('#illustration').css('bottom',0);
        }
        // Middlize();
    });
    $(window).on('load', function(){
        console.log('load');
        Middlize();
    });
    $(window).resize(function(){
        $('#illustration_container').css('max-height',$(window).height());
        if($('#illustration').width()>$(window).width()){
            $('#illustration').css('right',($('#illustration').width()-$(window).width())/2);
        }else{
            $('#illustration').css('right',0);
        }
        if($('#illustration').height()>$(window).height()){
            $('#illustration').css('bottom',($('#illustration').height()-$(window).height())/2);
        }else{
            $('#illustration').css('bottom',0);
        }
        Middlize();
    });

    function Middlize(){
        $('.middlize').each(function(){
            if($(window).width()>990){
                first = $(this).children('.middlize_target:first');
                console.log('first is '+first.html());
                last = $(this).children('.middlize_target:last');
                console.log('last is '+last.html());
                if(first.height()>last.height()){
                    refH = first.height();
                    target = last;
                }else{
                    refH = last.height();
                    target = first;
                }
                target.css('margin-top',(refH-target.height())/2);
            }else{
                target.css('margin-top',0);
            }
            $(this).children('.middlize_target').css('opacity',1);
        });
    }
</script>
{% endblock %}


{% block main %}

<div id='header'>
    <div id='illustration_container'>
        <img id='illustration' src='{{ MEDIA_URL }}{% thumbnail Target.illustration 1600 0 %}' alt='illustration section' />
        {# <img id='illustration' src='/static/media/{{ Target.illustration }}' alt='illustration section' /> #}
        <div id='illustration_overlay'>
            <h1 class='text-center'>
                <span class='dot'><i class='fa fa-circle'></i></span>
                {{ Target.title }}
            </h1>
        </div>
    </div>
    <div class='container' style='width:100%; padding-right:0; padding-left:0;' >
        <div id='caption' class='row' style='margin:20px; background-color:{{ Target.caption_color }}'>
            <div class='col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12 col-xs-offset-0 text-justify' style='color:{{ Target.text_color }}'>
                <h3 class='text-center'>
                    <i class='fa fa-terminal fa-lg' style='color:{{ customColor }};'></i>
                    {{ Target.sub_title|upper }}
                </h3>
                {{ Target.caption|richtext_filters|safe }}
            </div>
        </div>
    </div>
</div>
<div id='main'>
    {% for element in Target_slots %}
        <div class='slot container' {% if element.color %}style='background:{{ element.color }}'{% endif %}>
            <div class='row middlize' style='color:{{ element.text_color }}'>
                {% if element.pull_image_left %}
                    <div class='col-md-3 middlize_target col-md-offset-1'>
                        <img class='img-circle left' src='{{ MEDIA_URL }}{% thumbnail element.illustration 400 400 %}'>
                    </div>
                    <div class='col-md-6 middlize_target col-md-offset-1 fade'>
                        <h4>{{ element.title|title }}</h4>
                        {{ element.caption|richtext_filters|safe }}
                    </div>
                {% else %}
                    <div class='col-md-6 middlize_target col-md-offset-1 fade'>
                        <h4>{{ element.title|title }}</h4>
                        {{ element.caption|richtext_filters|safe }}
                    </div>
                    <div class='col-md-3 middlize_target col-md-offset-1'>
                        <img class='img-circle right' src='{{ MEDIA_URL }}{% thumbnail element.illustration 400 400 %}'>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}
