/*========================================
        HOME STYLES
==========================================*/

#carousel_overlay h1{
    max-width: 70%;
    margin: auto;
    position: relative;
    z-index: 999; /* still under z-index of navbar */
    margin-top: 250px;
    text-transform: uppercase;
    font-size: 72px;
    font-family: 'intelohairline';
    opacity: 0;
    text-shadow: 0 0 1px rgba(0,0,0,.3);
    -moz-transition: opacity .7s ease-in-out;
    -webkit-transition: opacity .7s ease-in-out;
    -o-transition: opacity .7s ease-in-out;
    transition: opacity .7s ease-in-out;
}

#home_video{
    width: 100%;
    overflow: hidden;
    border: 1px solid red;
}
#home_video video{
    /*height: 100%;*/
    width: 100%;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}


#video_layer video{ 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    /*background: url('//demosthenes.info/assets/images/polina.djpg') no-repeat;*/
    background-size: cover;

    -moz-transition: opacity .3s ease-in-out;
    -webkit-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
}
.stopfade { 
   opacity: .5;
}

#cat_news{
    font-family: 'intelolight';
    position: absolute;
    z-index: 99;
    bottom: 20px;
    left: 20px;
    padding: 10px 15px;
    line-height: 1.2;
    font-size: 12px;
    color: #FFFFFF;
}#cat_news a{
    display: inline-block;
    font-size: 12px;
    color: #FFFFFF;
    text-shadow: 1px 1px rgba(0,0,0,.3);
}
#cat_news_link{
    margin-bottom: 10px;
    font-size: 14px;
}



#main{
    margin: 20px;
}
#main.absolute{
    position: absolute;
    top: 100%;
    left: 0;
}
#main .slot{
    width: 100%;
    padding: 100px 50px;
    background-color: #edf1f2;
    color: #1d262b;
    letter-spacing: 1.6px;
    line-height: 30px;
}
#main p{
    margin: 30px 0;
}

@media screen and (max-width: 991px){
    #carousel_overlay h1{
        max-width: 768;
        font-size: 50px;
    }
    #main .slot{
        padding: 60px;
        line-height: 28px;
        text-align: justify;
    }
}

@media screen and (max-width: 767px){
    #carousel_overlay h1{
        max-width: 500px;
        font-size: 40px;
    }
    #main .slot{
        padding: 40px;
        line-height: 23px;
        text-align: justify;
    }
    #test video{ 
        top: 0;
        left: -15%;
        width: 130%;
        /*height: 130%;*/
        /*width: auto;*/
        /*height: auto;*/
        z-index: -100;
        transform: translateY(0%) translateX(0%);
        /*background-size: cover;*/
    }
}
@media screen and (max-width: 500px){
    #carousel_overlay h1{
        max-width: 400px;
        font-size: 30px;
    }
}



/*========================================
        BOOTSTRAP OVERRIDES
==========================================*/

#carousel_container{
    max-width: 100%;
    overflow: hidden;
}
#carousel{
    position: relative;
    background-color: #373d40;
}
.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}
#carousel_overlay{
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom,rgba(0,0,0,.8) 0,rgba(0,0,0,.4) 25%,rgba(0,0,0,.3) 61%,rgba(0,0,0,.15) 100%);
}

#carousel .item a img{
    min-width: 100%;
}

@media screen and (max-width: 991px){
    #carousel{
        left: -18%;
        width: 136%;
    }
}
@media screen and (max-width: 767px){
    #carousel{
        position: relative;
        left: -23%;
        width: 146%;
    }
}


