
/*========================================
        GENERAL STYLES
==========================================*/

body{
    max-width: 100%;
    margin: 0;
    /*margin-top: 20px;*/
    /*font-family: 'intelolight';*/
    font-family: 'intelohairline';
    letter-spacing: 1.4px;
}
a, a:hover, a:visited, a:active{
    color: #333;
    text-decoration: none;
}
h1{
    color: #FFFFFF;
    text-shadow: 0 0 1px rgba(0,0,0,.25);
    -moz-transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

._NET_, ._EXPLO_, ._OBS_{
    -webkit-transition: fill .45s, stroke-dasharray .75s, stroke-opacity 1.5s ease;
    -moz-transition: fill .45s, stroke-dasharray .75s, stroke-opacity 1.5s ease;
    -ms-transition: fill .45s, stroke-dasharray .75s, stroke-opacity 1.5s ease;
    -o-transition: fill .45s, stroke-dasharray .75s, stroke-opacity 1.5s ease;
    transition: fill .45s, stroke-dasharray .75s, stroke-opacity 1.5s ease;
}


#main{
    margin: 0;
}

/* NAVBAR */
#cat_login{
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 999px;
    color: white;
}
/* ../NAVBAR */

footer{
    position: absolute;
    width: 100%;
    left: 0;
    /*margin-top: 100px;*/
    padding: 80px 40px;
    border-top: 1px solid rgba(0,0,0,.1);
    background-color: rgb(249,249,249);
    color: #1d262b;
    text-transform: uppercase;
    text-decoration: underline;
}
#footer{
    width: 100%;
}
.nav-footer{
    text-align: left;
}
#SoMe{
    position: relative;
    bottom: 15px;
    text-align: right;
}
/*.nav-footer, #SoMe{
    opacity: 1;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}footer:hover .nav-footer, footer:hover #SoMe{
    opacity: 1;
}*/
#SoMe .fa-stack{
    -moz-transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}
#SoMe .fa-stack:hover{
    -ms-transform: rotate(30deg); /* IE 9 */
    -webkit-transform: rotate(30deg); /* Chrome, Safari, Opera */
    transform: rotate(30deg);
}
#Legal{
    text-transform: lowercase;
}
footer .separator{
    height: 4px;
    width: 100%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
    border-top: 1px solid;
    border-color: rgba(0,0,0,.2);
    opacity: .33;
    background-color: rgb(249,249,249);
}


@media screen and (max-width: 991px){
    #SoMe{
        margin: auto;
        margin-bottom: 0;
        margin-top: 20px;
        bottom: 0;
        text-align: center;
        opacity: 1;
    }
    footer .separator{
        margin-top: 25px;
        margin-bottom: 40px;
    }
}
@media screen and (max-width: 768px){
    .nav-footer{
        margin-bottom: 30px;
        text-align: center;
        opacity: 1;
    }
    #SoMe{
        margin: auto;
        margin-bottom: 0;
        margin-top: 10px;
        bottom: 0;
        text-align: center;
        opacity: 1;
    }
    footer .separator{
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 500px){
    body{
        font-size: 12px;
    }
    footer{
        font-size: 12px;
    }
}








/*========================================
        HELPERS STYLES
==========================================*/

.fullScreenOverlay{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.7);
    background: linear-gradient(to bottom,rgba(0,0,0,.7) 0,rgba(0,0,0,.4) 25%,rgba(0,0,0,.25) 61%,rgba(0,0,0,.1) 100%)
}


/*========================================
        BOOTSTRAP OVERRIDES
==========================================*/

#i18n{
    z-index: 9999;
    position: absolute;
    top: 0;
    right: 2px;
    max-width: 120px;
    overflow: hidden;
    display: inline-block;
}
#i18n .form-control{
    height: 27px;
    background-color: #555;
    border-radius: 0;
    border: none;
    color: #FFFFFF;
    font-size: 12px;
}
#i18n .btn-default{
    display: none;
}

.navbar{
    padding: 0;
    /*min-height: 80px;*/
    background-color: transparent;
    border: none;
    font-size: 13px;
    /*font-family: 'intelosemibold';*/
    -moz-transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}.navbar.navbar-deploy{
    background-color: rgb(255,255,255);
    box-shadow: 0 0 1px 1px rgba(0,0,0,.15);
}
#nav-container{
    padding-top: 15px;
    padding-bottom: 15px;
    -moz-transition: all .45s ease-out;
    -webkit-transition: all .45s ease-out;
    -o-transition: all .45s ease-out;
    transition: all .45s ease-out;
}
.navbar-deploy #nav-container{
    width: 100%;
    padding: 5px 4% 15px 4%;
}
.navbar-brand{
    height: 75px;
    margin-top: 20px;
    padding: 0 15px;
    -moz-transition: all .45s ease-in-out;
    -webkit-transition: all .45s ease-in-out;
    -o-transition: all .45s ease-in-out;
    transition: all .45s ease-in-out;
}.navbar-deploy .navbar-brand{
    height: 70px;
}
#logo{
    height: 50px;
    margin-top: 10px;
    -moz-transition: all .45s ease-in-out;
    -webkit-transition: all .45s ease-in-out;
    -o-transition: all .45s ease-in-out;
    transition: all .45s ease-in-out;
}

.navbar-deploy #logo{
    height: 55px;
    margin-bottom: 5px;
}

.navbar-nav{
    margin-top: 30px;
}
.navbar-collapse.navbar-right{
    border-bottom: 1px solid;
    border-bottom: none;
    border-color: #FFFFFF;
    text-transform: uppercase;
}.navbar-deploy .navbar-collapse.navbar-right{
    border-color: transparent;
}
.navbar-collapse.navbar-right.dark{
    border-color: rgba(0,0,0,.3);
}
.navbar-deploy .navbar-collapse.navbar-right.dark, .navbar-deploy .navbar-collapse.navbar-right.white{
    border-color: transparent;
}
.navbar-nav > li > a{
    padding-top: 6px;
    padding-bottom: 6px;
}

.nav > li > a, .nav > li > a:hover, .nav > li > a:focus,
.navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus{
    background-color: transparent;
    color: #FFFFFF;
}
.dark .nav > li > a, .dark .nav > li > a:hover, .dark .nav > li > a:focus,
.dark .nav > .active > a, .dark .nav > .active > a:hover, .dark .nav > .active > a:focus{
    /*background-color: transparent;*/
    color: #373d40;
}

.navbar-deploy .nav > li > a, .navbar-deploy .nav > li > a:hover, .navbar-deploy .nav > li > a:focus{
    background-color: transparent;
    color: #373d40;
}

.list-unstyled{
    display: inline-block;
    margin: 0 20px;
}.list-unstyled:first-child{
    margin-left: 0;
}
.img-thumbnail{
    border: none;
    border-radius: 0;
}

@media screen and (max-width: 991px){
    .navbar{
        font-size: 12px;
    }
    #nav-container{
        width: 100%;
    }
    .nav > li > a{
        padding: 10px 8px;
    }
}   
@media screen and (max-width: 850px){ 
    .navbar{
        font-size: 11px;
    }
    .nav > li > a{
        padding: 10px 6px;
    }
}
@media screen and (max-width: 767px){
    #i18n{}
    #i18n .form-control{
        height: 20px;
        padding: 2px;
        font-size: 10px;
    }
    .navbar{
        font-size: 12px;
    }
    .navbar-nav{
        margin-top: 0;
    }
    .navbar-fake-deploy #nav-container{
        width: 100%;
        padding: 5px 4% 15px 4%;
        background-color: rgb(255,255,255);
    }
    .navbar-collapse{
        background-color: #FFFFFF;
    }
    .nav.navbar-nav{
        margin-bottom: 20px;
    }
    .navbar-brand{
        margin-top: 10px;
    }
    .navbar-deploy .navbar-brand{
        height: 50px;
    }
    .nav > li > a, .nav > li > a:hover, .nav > li > a:focus, .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus{
        color: #373d40;
    }
    .nav > li:last-child{
        display: inline-block;
    }
    .nav > li > a{
        position: relative;
        left: 10px;
    }
    .nav-footer .list-unstyled{
        display: block;
        margin: 10px 0;
        font-size: 14px;
    }
}

