
/*==================================================
 * CSS DRAFT
 * ===============================================*/

h3{
    margin-top: 0;
    margin-bottom: 50px;
    text-transform: uppercase;
}
h6{
    margin: 0 0 20px 0;
    font-size: 18px;
    letter-spacing: 1.4px;
}
a, a:hover, a:visited, a:active{
    text-decoration: none;
}


#header{
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    overflow: hidden;
}
#illustration_container{
    position: relative;
    overflow: hidden;
}
#illustration{
    position: relative;
    min-width: 100%;
    max-width: 140%;
}
#illustration_overlay{
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom,rgba(0,0,0,.8) 0,rgba(0,0,0,.2) 25%,rgba(0,0,0,.1) 61%,rgba(0,0,0,.05) 100%);
}
#cat_contact{
    display: block;
    position: absolute;
    bottom: 7%;
}#cat_contact a{
    color: #FFFFFF;
}

#caption{
    /*padding: 50px;*/
}
#caption h3{
}
#caption img{
    max-width: 100%;
    max-height: 300px;
}


#main{
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    overflow: hidden;
}
.slot{
    margin: 20px;
    padding: 100px 0;
}

#blogSpace{

}#blogSpace img{
    max-width: 100%;
    margin-bottom: 20px;
}
.news_box{
    margin-bottom: 20px;
}

#mediaAssets{
}
#mediaAssets h5{
    margin: 20px 0;
    font-size: 20px;
    border-bottom: 1px solid rgba(0,0,0,.2);
    text-transform: uppercase;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.mediaAsset_box{
    margin-bottom: 10px;
    text-align: center;
    overflow: hidden;
    background-color: #FFFFFF;
    box-shadow: 0 0 1px 0 rgba(0,0,0,.25);
}.mediaAsset_box:hover{
    box-shadow: 0 0 2px 1px rgba(0,0,0,.15);
}
.mediaAsset_box a{
    display: block;
}
.mediaAsset_box a img{
    max-width: 100%;
}
.mediaAsset_caption{
    margin-bottom: 20px;
}


@media screen and (max-width: 991px){
    h3{
        margin-bottom: 40px;
    }
    #caption img{
        margin-bottom: 50px;
    }
    .slot{
        padding: 80px 40px;
    }
    #mediaAssets h5{
        margin-top: 40px;
        font-size: 18px;
    }
}
@media screen and (max-width: 768px){
    h3{
        margin-bottom: 30px;
    }
    #caption img{
        margin-bottom: 40px;
    }
    .slot{
        padding: 70px 30px;
    }
    #mediaAssets h5{
        margin-top: 30px;
        font-size: 16px;
    }
}




